picture img{
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.5s ease-in;
}